<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <h2>Práctica: Estudiar las Cookies y las Sessions en ExpressJS</h2><br><br><br>
      <a href="https://casianorodriguezleon.gitbooks.io/ull-esit-1617/content/practicas/practicalearningcookies.html">
        Enlace al guión de la práctica</a><br><br>
      <a href="https://www.gitbook.com/book/alu0100826166/estudiar-cookies/details">Enlace a repo Gitbook</a><br><br>
      <a href="https://git.heroku.com/agile-shelf-51321.git">Enlace a repo Heroku</a><br><br>
      <a href="https://agile-shelf-51321.herokuapp.com/">Enlace a app desplegada en Heroku</a><br><br>
      <a href="https://github.com/ULL-ESIT-PL-1617/estudiar-cookies-y-sessions-en-expressjs-nicolas-ibrahim-david">
        Enlace a repo Github</a><br><br>
      <a href="./book/">Enlace al libro</a>
    </center>
  </body>
</html>
